*{
    box-sizing: border-box;
}
#corpo {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    padding: 10px;
    background-color: aqua;    

        &  div{
            padding: 10px;
            text-align: center;
            background-color: blue;
             
        }
                
        
}