*{
    box-sizing: border-box;
}
body{

    background-color: aqua;
    position: static;
}    
 div.primeira{

       position: relative;
       width: 100px;
       height: 60px;
       border: 1px solid red;
       background-color: blue;

   }
 h2{
       position: relative;
   }