*{
    box-sizing: border-box;
}
@media screen and (width: 480px) {
    body {
      background-color: lightgreen;
    }
   
    
}
img #logo {
    align-items: start ;
    width: 15px;
    height: 40px;
    
    
}
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    gap: 1px;
    padding: 10px;
    background-color: aqua;   
    margin: 0px; 

        &  div{
            padding: 10px;
            text-align: center;
            background-color: blue;
            
        }
        & .item1{
              
            grid-column: auto;
            padding: 0px;
            height: auto;
        }
        & .item1 img{
            display: block;
            position: relative;
            margin-left: 5px;
            width: 100px;
            height: 80px;
        }

   
}